/**
 * File:    Event.css
 * Author:  Scott Mitting
 * Date:    12/3/2024
 * Project: TLA
 * Abstract:
 *   CSS for the event details page of the application.
 */

.event {
    flex: 4;
    padding: 20px;
}

.eventTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.eventTitle {
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

.eventContainer {
    display: flex;
    flex-wrap: wrap; /* Add this line to allow wrapping on smaller screens */
    margin-top: 20px;
}

.eventShow {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.eventShowTop {
    display: flex;
    align-items: center;
}

/* Add media query to adjust layout on smaller screens */
@media only screen and (max-width: 768px) {
    .eventShow {
        flex-basis: 100%; /* Make each element take up full width on smaller screens */
    }
}

.eventShowImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.eventShowTopTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.eventShowName {
    font-weight: 600;
    font-size: 18px;
    color: #333;
}

.eventShowBottom {
    margin-top: 20px;
}

.eventShowTitle {
    font-weight: 600;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.eventShowInfo {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.eventShowIcon {
    font-size: 18px;
    margin-right: 10px;
}

.eventShowInfoTitle {
    font-weight: 600;
    font-size: 16px;
    color: #333;
}