/**
 * File:    newEvent.css
 * Author:  Scott Mitting
 * Date:    12/3/2024
 * Project: TLA
 * Abstract:
 *   CSS for the event details page of the application.
 */


.newEventContainer {
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.newEventTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.newEventForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.newEventItem {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.newEventItem > label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(151, 150, 150);
}

.newEventItem > input, .newEventItem > textarea {
    height: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;

}


.newEventItem input[type="file"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.newEventButton {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.newEventButton:hover {
    background-color: #3e8e41;
}