/**
 * File:    user.css
 * Author:  Scott Mitting
 * Date:    12/3/2024
 * Project: TLA
 * Abstract:
 *   CSS for the user page of the application.
 */

.userAddButton {
}
.userContainer {
    display: flex;
    flex-wrap: wrap; /* Add this line to allow wrapping on smaller screens */
    margin-top: 20px;
}

.userShow {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Add this line to add space between elements on smaller screens */
}

.userShowTop {
    display: flex;
    align-items: center;
}

/* Add media query to adjust layout on smaller screens */
@media only screen and (max-width: 768px) {
    .userShow {
        flex-basis: 100%; /* Make each element take up full width on smaller screens */
    }
}