.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  display: flex;
}


.link{
  text-decoration: none;
  color: inherit;
}

/** The create button for form views */
.add-button {
  width: 140px;
  border: none;
  padding: 5px;
  background-color: teal;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}


/* data grid classes */
.table-container {
  display: flex;
  flex: 4;
  /*padding: 20px;*/
}

.table-header {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
}

.table-row {
  border-bottom: 1px solid #ddd;

}


.table-cell {
  padding: 10px;
}

.table-cell-image {
  width: 30px;
  position: absolute;
  transition: transform 0.3s ease-in-out;
  cursor: zoom-in;
}

.table-cell-image-label {
  margin-left: 55px;
}

.table-cell-image:hover {
  transform: scale(6);
}


.table-edit-button {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
  position: relative;
  top:-7px;
  left:15px;
}

.table-delete-button {
  color: red;
  cursor: pointer;
}

